.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

main {
  position: relative;
  text-align: left;
  margin: 20px;
  height: 500px;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  color: red;
  margin: 20px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

.loader {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: App-logo-spin infinite 1s linear;
}

form {
  padding: 20px;
}